@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

body
{
    margin: 0;
    padding: 0 5em;

    font-family: Poppins, sans-serif;
    font-size: 14pt;

    background-color: black;
    color: white;
    overflow-x: hidden;
}

body > img
{
    position: absolute;
    z-index: -1;
    top: 0;
    left: -10%;
    filter: blur(32px);
    overflow: hidden;
    opacity: 75%;
}

#site-header
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2em 0;
    margin-bottom: 3em;
    font-family: Cinzel;
}

#site-header .name
{
    display: block;
    font-size: 2em;
    font-weight: 500;
}

#site-header .position
{
    display: block;
    font-weight: 400;
    text-align: center;
}

#site-header nav a
{
    padding-left: 1.5em;
    font-weight: 400;
    font-size: 1.2em;
    color: white;
}



section 
{
    padding: 0 2em;
}

section > p 
{
    font-weight: 200;
    text-align: justify;
    /* width: 70%; */

    background-color: rgba(0,0,0,.2);
    padding: 1em;
}

section > h1
{
    font-family: Cinzel;
    font-weight: 500;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
}


section > h2
{
    margin-top: 1.5em;
    margin-bottom: .5em;
    font-family: Cinzel;
    font-weight: 400;
    font-size: 1.5em;
}

section > hr
{
    opacity: .33;
    width: 50%;
    margin: auto;
    /* margin-bottom: 65%; */
}




.flex-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex-center div
{
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0 16px 32px rgba(0,0,0,.4);
    border-radius: 8px;

    display: block;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 25%;
    padding: 1em;
    margin: 0 1em;
    
    font-family: Poppins;
    font-weight: 200;
    text-align: center;
}

.flex-center header
{
    font-weight: 300;
    /* color: black; */
}

.flex-center article
{
    font-size: 12pt;
}

.flex-center ul
{
    text-align: left;
}

.align-middle
{
    display: flex !important;
    flex-direction: column;
    justify-content: space-around;
}

#site-footer 
{
    min-height: 10em;
    background-color: rgba(0,0,0,.5);
    margin-top: 3em;
}

.gallery 
{
    height: 100%;
    margin-top: 2em;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
}

.gallery > div
{
    margin: 0 1em;
    width: 220px; 
    height: 320px; 
    background-color: rgba(0,0,0,.5); 
    border-radius: 4px;
    border: 1px solid darkgray;
    opacity: 30%;
}