@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

html
{
    font-family: Poppins, sans-serif;
    font-size: 14pt;
    line-height: 1.5;
    
    background-color: black;
    color: white;
}

body
{
    margin: 0 auto;
}

body > header
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 3em;
    margin-bottom: 5em;
    font-family: Cinzel;
}

#background-image
{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: min-content;
    overflow: hidden;
    z-index: -1;
}

#background-image > img
{
    /* display: none; */
    margin: 0 auto;
    
    filter: blur(32px);
    opacity: 75%;
    
    min-width: 1500px;
    width: 110%;

    position: relative;
    left: 50%;
    transform: translateX(-50%);
}



body > header .name
{
    display: block;
    font-size: 2em;
    font-weight: 500;
}

body > header .position
{
    display: block;
    font-weight: 400;
    text-align: center;
}

body > header nav a
{
    padding-left: 1.5em;
    font-weight: 400;
    font-size: 1.3em;
    color: white;
}

body > footer
{
    min-height: 10em;
    background-color: rgba(0,0,0,.5);
    margin-top: 3em;
}



body > h1 /* really hate the h1 need to figure out how to use header instead*/
{
    font-family: Cinzel;
    font-weight: 500;
    font-size: 2.5rem;
    text-align: center;
}



section
{
    font-weight: 200;
    margin: 3rem 0;
    display: flex;
    flex-flow: row wrap;
    text-align: justify;
    overflow: hidden;
}

section header
{
    font-family: Cinzel;
    font-weight: 200;
    font-size: 2rem;
    margin-bottom: 1rem;
}

section p
{
    margin: 1rem 0;
}

section main
{
    flex: 1 1 0;
}

section aside
{
    padding-block-start: 2rem;
    flex: 0 1 auto;
    width: 80%;
}

section aside img
{
    display: inline;
    vertical-align: top;
}

section .right
{
    order: 1;
}

section .right + aside
{
    padding-left: 0;
    padding-right: 2rem;
}



a
{
    /* text-decoration: none; */
    display: inline-block;
    transition: transform .1s;
}

a:hover
{
    transform: translateY(.25rem);
}



.flex-center {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 2rem;
}

.flex-center div
{
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 16px 32px rgba(0,0,0,.2);
    border-radius: 8px;
    
    flex-grow: 1;
    flex-basis: 0;
    max-width: 30%;
    padding: 1rem;

    text-align: center;
    backdrop-filter: blur(32px);
}

.flex-center header
{
    font-family: "Poiret One";
    font-size: 1.8rem;
    margin-bottom: 1em;
}

.flex-center article
{
    font-family: Poppins;
    font-weight: 200;
}

.flex-center ul
{
    text-align: left;
}

.grid4
{
    display: grid;
    grid-template-columns: repeat(4, fit-content(10rem));
    text-align: center;
    gap: 1rem;
    font-size: .8rem;
}

.grid4 div
{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    border: 1px solid purple;
    border-radius: 4px;;
    padding: 1rem;
}



@media (max-width: 480px)
{
    html
    {
        font-size: 10pt;
    }

    body
    {
        padding: 0 2rem;
    }

    body > header
    {
        flex-flow: column nowrap;
        gap: 3rem;
        margin: unset;
        margin-top: 2rem;
    }

    body > header nav a
    {
        padding-left: unset;
        padding: 0 .5rem;
    }

    .flex-center
    {
        flex-flow: column nowrap;
    }

    .flex-center div
    {
        max-width: unset;
    }
}

@media (min-width: 768px)
{
    body {
        max-width: 80%;
    }
}

@media (min-width: 1920px)
{
    body {
        max-width: 1500px;
    }
}

/* 
phone:  <480px
tablet: <768px
desktop:
    small:  <1280px
    medium: <1920px
    large:  >1920px 
*/